{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'nav.html' %}

    <main class="app-content">
        <div class="app-title">
            <h4>Nova Ordem de Serviço</h4>
            <a href="{% url 'core:lista_ordem_de_servico' %}" class="btn btn-dark" data-toggle="tooltip" title="Voltar a Lista De Ordem de serviço" data-placement="left"><i class="fas fa-bars"></i></a>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                {% for f in form %}
                    <div class="form-group col-md-12">
                        {{ f.label }}
                        {{ f }}
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Salvar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </form>
    </main>
{% endblock %}

{% block script %}
    {% if sucesso %}
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Sucesso',
                text: 'Sua foi criado',
            })
        </script>
    {% endif %}
    {% if error %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Favor preencha todos os campos \n {{ error }}',
            })
        </script>
    {% endif %}
{% endblock %}